@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,html{
    overflow-x: hidden;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav{
    color: blanchedalmond;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 4rem;
}

.title{
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 3 rem;
    left: 50%;
    top: 75%;
    transform: translate(-50%,-75%);

}


.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.spotify-embed.visible {
    display: flex;
  }

